@page "/about"

@attribute [NodeKey("About")]
@attribute [NodeParent("Home")]
@attribute [NodeMetadata("key", "value")]

@{
    var metadatas = GetMetadata();
}

<p>Created by Nico1395</p>

@if (metadatas.Length > 0)
{
    <div>
        @foreach (var metadata in metadatas)
        {
            <p>@metadata</p>
        }
    </div>
}

@code {
    [CascadingParameter]
    private RouterContext Context { get; set; } = null!;

    private string[] GetMetadata()
    {
        if (Context.Node == null)
            return [];

        return Context.Node.Metadata.Select(m => $"{m.Key}; {m.Value}").ToArray();
    }
}
